@import "tailwindcss";

@layer utilities {
    .input {
        @apply flex flex-col justify-center items-start w-full text-slate-200;
    }
    .input input {
        @apply w-full bg-white/10 rounded-md p-2 mt-2 text-center;
    }
    .input input:focus {
        @apply outline-none;
    }
    .input input::placeholder {
        @apply text-center text-slate-300;
    }
}
